{
    "template": {
        "settings": {
            "index": {
                "lifecycle": {
                    "name": "filebeat"
                },
                "refresh_interval": "5s",
                "number_of_shards": "{{ elasticsearch_hosts | length }}",
                "number_of_replicas": "{{ [elasticsearch_hosts | length - 1, 0] | max }}"
            }
        },
        "mappings": {
            "_routing": {
                "required": false
            },
            "numeric_detection": false,
            "dynamic_date_formats": [
                "strict_date_optional_time",
                "yyyy/MM/dd HH:mm:ss Z||yyyy/MM/dd Z"
            ],
            "_source": {
                "excludes": [],
                "includes": [],
                "enabled": true
            },
            "dynamic": true,
            "dynamic_templates": [],
            "date_detection": true,
            "properties": {
                "svr_name": {
                    "type": "text",
                    "fields": {
                        "keyword": {
                            "type": "keyword",
                            "ignore_above": 256
                        }
                    }
                },
                "discord_id": {
                    "type": "text",
                    "fields": {
                        "keyword": {
                            "type": "keyword",
                            "ignore_above": 256
                        }
                    }
                },
                "instance_id": {
                    "type": "integer"
                },
                "skipped_frames": {
                    "type": "integer"
                },
                "instance_name": {
                    "type": "text",
                    "fields": {
                        "keyword": {
                            "type": "keyword",
                            "ignore_above": 256
                        }
                    }
                },
                "svr_ip": {
                    "type": "ip"
                },
                "current_match_id": {
                    "type": "integer"
                },
                "current_match_id_text": {
                    "type": "text",
                    "fields": {
                        "keyword": {
                            "type": "keyword",
                            "ignore_above": 256
                        }
                    }
                },
                "client": {
                    "properties": {
                        "geo": {
                            "properties": {
                                "location": {
                                "type": "geo_point"
                                }
                            }
                        }
                    }
                },
                "host": {
                    "properties": {
                        "geo": {
                            "properties": {
                                "location": {
                                "type": "geo_point"
                                }
                            }
                        }
                    }
                },
                "Server": {
                    "properties": {
                        "Name": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "IP": {
                            "type": "ip"
                        },
                        "Public_IP": {
                            "type": "ip"
                        },
                        "Location": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "Instance": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "Instance_ID": {
                            "type": "integer"
                        },
                        "Admin": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        }
                    }
                },
                "Match": {
                    "properties": {
                        "ID": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },  
                        "Player": {
                            "properties": {
                                "IP" : {
                                    "type": "ip"
                                },
                                "Min_Ping": {
                                    "type": "integer"
                                },
                                "Avg_Ping": {
                                    "type": "integer"
                                },
                                "Max_Ping": {
                                    "type": "integer"
                                },
                                "Name": {
                                    "type": "text",
                                    "fields": {
                                        "keyword": {
                                            "type": "keyword",
                                            "ignore_above": 256
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "match_info": {
                    "properties": {
                        "match_id": {
                            "type": "integer"
                        },
                        "mode": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "map": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "name": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "duration": {
                            "type": "long"
                        }
                    }
                },
                "players": {
                    "properties": {
                        "ip": {
                            "type": "ip"
                        },
                        "minping": {
                            "type": "integer"
                        },
                        "avgping": {
                            "type": "integer"
                        },
                        "maxping": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "account_id": {
                            "type": "integer"
                        },
                        "location": {
                            "type": "text",
                            "fields": {
                                "keyword": {
                                    "type": "keyword",
                                    "ignore_above": 256
                                }
                            }
                        },
                        "geo": {
                            "properties": {
                                "continent_name": {
                                    "type": "keyword"
                                },
                                "region_iso_code": {
                                    "type": "keyword"
                                },
                                "city_name": {
                                    "type": "keyword"
                                },
                                "country_iso_code": {
                                    "type": "keyword"
                                },
                                "country_name": {
                                    "type": "keyword"
                                },
                                "region_name": {
                                    "type": "keyword"
                                },
                                "location": {
                                    "type": "geo_point"
                                }
                            }
                        }
                    }
                },
                "player_ip": {
                    "type": "ip"
                },
                "player_name": {
                    "type": "text",
                    "fields": {
                        "keyword": {
                            "type": "keyword",
                            "ignore_above": 256
                        }
                    }
                },
                "Phase": {
                    "type": "alias",
                    "path": "game_phase_desc.keyword"
                },
                "Lagged": {
                    "type": "alias",
                    "path": "skipped_frames"
                },
                "Name": {
                    "type": "alias",
                    "path": "Server.Name.keyword"
                },
                "Match_ID": {
                    "type": "alias",
                    "path": "Match.ID.keyword"
                },
                "Player": {
                    "type": "alias",
                    "path": "Match.Player.Name.keyword"
                }
            }
        }
    },
    "index_patterns": [
        "mqtt*"
    ],
    "composed_of": [],
    "data_stream": {
        "hidden": false,
        "allow_custom_routing": false
    }
}