{
    "index_patterns": ["player-ips*"],
    "template": {
        "settings": {
            "refresh_interval": "5s",
            "number_of_shards": {{ elasticsearch_hosts | length }},
            "index.auto_expand_replicas": "0-all"
        },
        "mappings": {
            "dynamic_date_formats": [
                "strict_date_optional_time",
                "yyyy/MM/dd HH:mm:ss Z||yyyy/MM/dd Z"
            ],
            "properties": {
                "Match": {
                    "properties": {
                        "Player": {
                            "properties": {
                                "Name": {
                                    "type": "keyword"
                                },
                                "IP": {
                                    "type": "ip"
                                }
                            }
                        }
                    }
                },
                "player_ip": {
                    "type": "ip"
                }
            }
        }
    }
}