{
    "template": {
      "settings": {
          "index": {
              "lifecycle": {
                  "name": "server-audit"
              },
              "refresh_interval": "5s",
              "number_of_shards": "{{ elasticsearch_hosts | length }}",
              "number_of_replicas": "{{ [elasticsearch_hosts | length - 1, 0] | max }}"
          }
      },
      "mappings": {}
    },
    "index_patterns": [
        "server-audit*"
    ],
    "composed_of": [],
    "data_stream": {
        "hidden": false,
        "allow_custom_routing": false
    }
}