{
  "description": "Add geoip info",
  "processors": [
    {
      "geoip": {
        "field": "Server.Event.Connection.IP",
        "target_field": "client.geo",
        "database_file": "GeoLite2-City.mmdb",
        "ignore_failure": true
      }
    },
    {
      "geoip": {
        "field": "Server.Public_IP",
        "target_field": "host.geo",
        "database_file": "GeoLite2-City.mmdb",
        "ignore_missing": true
      }
    },
    {
      "geoip": {
        "field": "player_ip",
        "target_field": "players.geo",
        "database_file": "GeoLite2-City.mmdb",
        "ignore_missing": true
      }
    },
    {
      "geoip": {
        "field": "Match.Player.IP",
        "target_field": "client.geo",
        "database_file": "GeoLite2-City.mmdb",
        "ignore_missing": true
      }
    },
    {
      "foreach": {
        "field": "players",
        "processor": {
          "geoip": {
            "field": "_ingest._value.ip",
            "target_field": "_ingest._value.geo",
            "database_file": "GeoLite2-City.mmdb",
            "ignore_missing": true
          }
        },
        "ignore_missing": true
      }
    }
  ]
}