{
  "id": "last-server-count-per-region",
  "source": {
    "index": [
      "server-list*"
    ],
    "query": {
      "match_all": {}
    }
  },
  "dest": {
    "index": "last-server-count-per-region"
  },
  "sync": {
    "time": {
      "field": "@timestamp",
      "delay": "60s"
    }
  },
  "latest": {
    "unique_key": [
      "region.keyword"
    ],
    "sort": "@timestamp"
  },
  "description": "last-server-count-per-region",
  "settings": {}
}