{
  "id": "last-kongor-statistics",
  "source": {
    "index": [
      "kongor-statistics*"
    ],
    "query": {
      "match_all": {}
    }
  },
  "dest": {
    "index": "last-kongor-statistics"
  },
  "sync": {
    "time": {
      "field": "@timestamp",
      "delay": "60s"
    }
  },
  "latest": {
    "unique_key": [
      "region.keyword"
    ],
    "sort": "@timestamp"
  },
  "description": "last-kongor-statistics",
  "settings": {}
}