# This file is where you define your pipelines. You can define multiple.
# For more information on multiple pipelines, see the documentation:
#   https://www.elastic.co/guide/en/logstash/current/multiple-pipelines.html

- pipeline.id: main
  path.config: "{{ logstash_conf_dir }}/conf.d/*.conf"
  pipeline.workers: {{ logstash_main_pipeline_workers }}

- pipeline.id: single_threaded
  pipeline.workers: 1
  path.config: "{{ logstash_conf_dir }}/conf.d/single-threaded/*.conf"