# This file is where you define your pipelines. You can define multiple.
# For more information on multiple pipelines, see the documentation:
#   https://www.elastic.co/guide/en/logstash/current/multiple-pipelines.html

{% for folder in pipeline_folders.stdout_lines -%}
- pipeline.id: {{ folder | basename }}
  path.config: "{{ folder }}/*.conf"
{% if folder | basename == 'single-threaded' -%}
  pipeline.workers: 1
{% endif -%}
{% endfor -%}