
input {
    beats {
        port => 5044
        ssl_enabled => true
        ssl_certificate_authorities => [{% for cert in lookup('fileglob', logstash_certs_dir + '/ca/*', wantlist=True) %}"{{ cert }}"{% if not loop.last %}, {% endif %}{% endfor %}]
        ssl_certificate => "{{ logstash_certs_dir }}/cert1.pem"
        ssl_key => "{{ logstash_certs_dir }}/privkey1.pem"
        ssl_client_authentication => "required"
    }
}