
input {
    beats {
        port => 5044
        ssl_enabled => true
        ssl_certificate_authorities => [{{ lookup('fileglob', '{{ logstash_certs_dir }}/ca/*.crt', wantlist=True) | map('quote') | join(", ") }}]
        ssl_certificate => "{{ logstash_certs_dir }}/cert1.pem"
        ssl_key => "{{ logstash_certs_dir }}/privkey1.pem"
        ssl_client_authentication => "required"
    }
}