input {
    http_poller {
        urls => {
            kongor_stats => {
                method => get
                url => "http://api.kongor.online/stats/portal"
                headers => {
                    "User-Agent" => "S2 Games"
                }
            }
        }
        request_timeout => 60
        # Define how often the polling will occur (in seconds)
        # Here, we poll every 5 minutes
        schedule => { "every" => "300s" }
        codec => "json"
        tags => ["kongor","api"]
        add_field => {
          "source" => "kongor_stats_portal"
        }
    }
}

output {
  if [source] == "kongor_stats_portal" {
    elasticsearch {
      hosts => [{% for host in elasticsearch_hosts %}"{{ elastic_virtual_proto }}://{{ host }}:{{ elasticsearch_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %}]
      index => "kongor-statistics"
      ssl_certificate_authorities => "{{ logstash_certs_dir }}/ca/{{ elasticsearch_ca_chain_name }}"
      user => "${ES_USER}"
      password => "${ES_PWD}"
      action => "create"
    }
  }
}